pkgbase = coder-bin
	pkgdesc = Remote development environments on your infrastructure provisioned with Terraform
	pkgver = 2.20.2
	pkgrel = 2
	url = https://coder.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Proprietary
	license = AGPL3
	provides = coder
	provides = coder-client
	source_x86_64 = https://github.com/coder/coder/releases/download/v2.20.2/coder_2.20.2_linux_amd64.tar.gz
	sha256sums_x86_64 = 414210b9a9541dbd18522d8973237566639fe143bac13deb039ded973aba58a2
	source_aarch64 = https://github.com/coder/coder/releases/download/v2.20.2/coder_2.20.2_linux_arm64.tar.gz
	sha256sums_aarch64 = 22b9d31a6bdc5f80bd72f7623db9a1c4b758145f8224eac7b3c77d21f8087f39
	source_armv7h = https://github.com/coder/coder/releases/download/v2.20.2/coder_2.20.2_linux_armv7.tar.gz
	sha256sums_armv7h = 2ceabbbe3d6be444366f8b292377be0f908010f04d9d1bb8bdd1f3d40d84e916

pkgname = coder-bin
