pkgbase = coder-bin
	pkgdesc = Remote development environments on your infrastructure provisioned with Terraform
	pkgver = 2.19.1
	pkgrel = 2
	url = https://coder.com
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = Proprietary
	license = AGPL3
	provides = coder
	provides = coder-client
	source_x86_64 = https://github.com/coder/coder/releases/download/v2.19.1/coder_2.19.1_linux_amd64.tar.gz
	sha256sums_x86_64 = c3cc844f88e9b8d9ff0ecc05949f10a4a4b962323d82cd0e4e64340f57f92591
	source_aarch64 = https://github.com/coder/coder/releases/download/v2.19.1/coder_2.19.1_linux_arm64.tar.gz
	sha256sums_aarch64 = f0126b323d2cd8cce00ae796956b062a7b44901c16eeb058645fb93b79552cdd
	source_armv7h = https://github.com/coder/coder/releases/download/v2.19.1/coder_2.19.1_linux_armv7.tar.gz
	sha256sums_armv7h = aa289415ef531a9f2e35fd55cfb772844cc50aabf3f6350b80421a339742f4d6

pkgname = coder-bin
